@import "bootstrap";
@import "bootstrap/theme";

body {
  padding: {
    top: 70px;
  }
}

.large.label {
  font-size: 24px;
}

.navbar {
  padding: 0px 20px;
  .navbar-brand {
    padding: 15px 35px;
  }
}

.modal {
  form {
    margin: 0;
  }
}

:focus {
  outline: none;
}

.media {
  overflow: hidden;
  zoom: 1;
}

.media .pull-left {
  margin-right: 10px;
}

.media-heading {
  margin: 0 0 5px;
}